
<%= link_to "SELL in this community",
	new_item_path(:group_id => @group),
	:method => :get, 
	:class => "btn btn-large right",
	:group_id => @group.id %>

<br/> <br/> 

<div class="category_results">
   <div align="center">
	<%= image_tag (@group.avatar.url(:medium)), :class => "circular_group" %>
	<h3><%= @group.name %></h3>
</div>
	<div id="items">
		<% @items.each do |i| %>
			<div class="item_row">
				<div class="item_row_photo photo small"><%= link_to image_tag(i.avatar.url(:medium)), i %>
				</div>
				<div class="item_row_info">
					<%= link_to i.name, i, :class => "item_row_title" %>
					<div class="item_row_description">
						<strong>Why I'm selling it:</strong> <%= i.reason %> <br/>
						<strong>Most awesome story about this item:</strong> <%= i.story %>
					</div>
				</div>
				<div class="mini_profile">
					<%= link_to image_tag(i.user.image, :class => "avatar avatar_small"), i.user, :class => "mini_profile_avatar" %>
				  	<div class="mini_profile_text">
				  		<%= link_to i.user.name, i.user, :class => "mini_profile_name" %>
				  	</div>
				</div>
				<div class="item_row_price">
					<%= number_to_currency(i.price) %>
				</div>
			</div>
		<% end %>
	</div>
</div>
