

<div align="center" class="user_info">
	<%= image_tag (@user.large_image), :class => "circular" %>
	<h3><%= @user.name %></h3>
	<p><%= @user.location %></p>
</div>

<% unless @user.items.empty? %>

	<h2>Here's what I'm selling</h2>

	<div class="row">
	<% @user.items.each do |i| %>
		  <div class="item_tile"><strong><%= g.name %></strong><%= link_to image_tag(i.avatar.url(:medium)), i %></div> 
	<% end %>
	</div>

<% end %>

<% unless @user.story.blank? %>

<div align="center">
<h2>My story</h2>

<%= @user.story %>
</div>

<% end %>



<br/><br/><br/>

<% if @user == current_user %>
	<h5><%= link_to 'Edit your profile', edit_user_registration_path(@user) %></h5>
<% end %>

