

<div align="center" class="user_info">
	<%= image_tag (@user.large_image), :class => "circular" %>
	<h3><%= @user.name %></h3>
	<p><%= @user.location %></p>
</div>

<% unless @user.items.empty? %>
	<h2 align="center">Here's what I'm selling</h2>
	
<div class="category_results">
	<div id="items">
		<% @user.items.each do |i| %>
			<div class="item_row">
				<div class="item_row_photo photo small"><%= image_tag i.avatar.url(:medium) %>
				</div>
				<div class="item_row_info">
					<%= link_to i.name, i, :class => "item_row_title" %>
					<div class="item_row_description">
						<strong>Why I'm selling it:</strong> <%= i.reason %> <br/> <br/>
						<strong>Most awesome story about this item:</strong> <%= i.story %>
					</div>
				</div>
				<div class="mini_profile">
					<%= link_to i.group.name, i.group %>
				</div>
				<div class="item_row_price">
					<%= number_to_currency(i.price) %>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% end %>

<% unless @user.story.blank? %>

<div align="center">
<h2>My story</h2>

<%= @user.story %>
</div>

<% end %>



<br/><br/><br/>

<% if @user == current_user %>
	<h5><%= link_to 'Edit your profile', edit_user_registration_path(@user) %></h5>
<% end %>

