<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <li class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Leather couch" %> 
  </li>

  <li class="field">
    <%= f.label :price %>
    <%= f.text_field :price, :placeholder => "140" %> 
  </li>

  <li class="field">
    <%= f.label :group_id %>
    <%= f.select :group_id, @groups.collect {|c| [ c.name, c.id ]} %>
  </li>

  <li class="field">
    <%= f.label :avatar, "Item image" %>
    <%= f.file_field :avatar %>
  </li>

  <li class="field">
    <%= f.label :reason, "Why are you selling this?" %>
    <%= f.text_field :reason, :placeholder => "I'm moving out!" %>
  </li>

  <li class="field">
    <%= f.label :story %>
    <%= f.text_area :story, :placeholder => "Watched my team win the superbowl on this couch!", :rows => 3 %>
  </li>

  <br/><br/><br/>
  <div class="actions">
    <%= f.submit "List this item!", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>
